body {
    margin: 0;
    background-image: url('assets/backgroundHome.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.content1 {
    display: flex;
    width: 80%;
    align-items: center;
    margin-left: 40px;
}

.content1 img {
    width: 100px;
    height: 100px;
}

.content1 ul {
    display: flex;
    gap: 23px;
    list-style: none;
}

.content1 ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: white;
}

.content1 ul li a:hover {
    color: gray;
}

header button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-right: 40px;
    cursor: pointer;
}

header button a {
    color: black;
}

header button:hover {
    background-color: gray;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-top: 80px;
}

.intro h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.intro p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.quemSomos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-top: 80px;
    background-color: rgb(234, 233, 233)
}

.quemSomos img {
    width: 600px;
    height: 600px;
}

.quemSomos h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.quemSomos h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.quemSomos p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.textSomos {
    width: 50%;
}

.nossaMissao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
}

.nossaMissao img {
    width: 350px;
    height: 350px;
}

.nossaMissao h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: white;
}

.nossaMissao h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.nossaMissao p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.nossoServicos {
    background-color: white;
    margin-top: 80px;
    text-align: center;
}

.titleServicos h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    
}

.servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
}

#services {
    display: flex;
    margin-top: 20px;
    gap: 200px;
}

.servicos img {
    width: 60px;
    height: 60px;
}

.servicos p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.nossoServicos button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-right: 40px;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 80px;
}

.nossoServicos button a {
    color: black;
}

.nossoServicos button:hover {
    color: gray;
}

#obras {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#obras h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

#obras img {
    width: 1000px;
    border-radius: 20px;
}

mark {
    background-color: black;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: -70px;
    margin-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.titleObras {
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
}

.titleObras h2 {
    margin: 0;
    color: white;
    
}

footer {
    color: black;
    background: white;
    height: 70px;
}

.rodaPe { 
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.contentPe1 {
    font-family: 'Poppins', sans-serif;
}

.contentPe2 {
    font-family: 'Poppins', sans-serif;
}

.marcaPage {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.marcaPage h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .content1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .intro {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .quemSomos {
        display: flex;
        flex-direction: column;
        width: 600px;
    }

    .textSomos {
        text-align: center;
        padding: 20px;
    }

    .nossaMissao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-left: 60px;
    }

    .nossoServicos {
        width: 600px;
    }

    .servicos {
        display: flex;
        flex-direction: column;
    }

    #services {
        display: flex;
        flex-direction: column;
    }

    #obras {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 100px;
    }

    #obras img {
        width: 500px;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .rodaPe {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}
